

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#root {
  margin: 0px auto;
  font-family: 'Inter';
}

.app{
  background-color: black;
  height: fit-content;
  min-height: 100vh;
}

header{
  margin: 0;
}

.bar{
  font-size: small;
  cursor: pointer;
  display: none;
}

.navigator{
  z-index: 2;
  transition-duration: 1.2s;
}

.container{
  padding: 0px 3%;
  height: fit-content;
  min-height: 100vh;
  max-width: fit-content;
  margin: auto;
}

.introductory{
  display: flex;
  padding: 7% 0px;
}

.intro-text{
  flex-basis: 60%;
  h1{
    line-height: 1.3;
  }
}
  .decor{
    /* background: linear-gradient(to right, #cf175d, #7b08ff,#cf23cf, #680ac6); */
    background: linear-gradient(to right, rgb(210, 161, 0),rgb(20, 212, 183),rgb(255, 196, 35));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }


.client{
  width: 50%;
  flex-basis: 40%;
}

.type{
  background-image: linear-gradient(65deg,rgb(210, 161, 0),rgb(20, 212, 183),rgb(19, 173, 201));
  transition-duration: 0.3s;
}
.type:hover{
  background-image: linear-gradient(65deg,rgb(19, 119, 201),rgb(26, 203, 177),rgb(233, 127, 14));
  scale: 1.04;
  cursor: pointer;
}

.started{
  background-image: linear-gradient(65deg,rgb(174, 142, 36),rgb(8, 161, 138),rgb(19, 49, 201));
}

.started:hover{
  background-image: linear-gradient(65deg,rgb(19, 119, 201),rgb(26, 203, 177),rgb(233, 127, 14));
  scale: 1.04;
  color: black;
  font-weight: 600;
}

.all-cards{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  gap: 4%;
  padding: 10% 0px;
}

.salecard {
  margin: 2%;
  padding: 8%;
  font-size: large;
  border-radius: 10px;
  /* background-image: linear-gradient(65deg,rgb(119, 0, 210),rgb(184, 11, 228),rgb(255, 35, 244)); */
  background-image: linear-gradient(65deg,rgb(210, 161, 0),rgb(20, 212, 183),rgb(19, 173, 201));
  position: relative;
  min-width: 100px;
  text-align: center;
  transition-duration: 0.5s;
  h4{
    font-weight: 800;
    color: rgb(0, 0, 0);
  }
}

.salecard img {
  width: 100%;
}

.salecard:hover {
  scale: 1.05;
  /* background-image: linear-gradient(65deg,rgb(255, 35, 244),rgb(184, 11, 228),rgb(119, 0, 210)); */
  background-image: linear-gradient(65deg,rgb(19, 119, 201),rgb(26, 203, 177),rgb(233, 127, 14));
}

.add-to-cart {
  color: black;
  background-color: #e18300;
  font-weight: 600;
  margin: 4px;
  padding: 10px 15px;
  border: none;
  width: fit-content;
  border-radius: 5px;
}

footer{
  display: flex;
  padding: 0px 4% 4% 4%;
}

.desc{
  max-width: 350px;
}

.block-1{
  list-style: none;
  flex-basis: 40%;
}

.block-2{
  list-style: none;
  flex-basis: 30%;
}

iframe{
  border-radius: 10px;
  box-sizing: content-box;
}

.box-2{
  background-image: linear-gradient(65deg,rgb(210, 161, 0),rgb(20, 212, 183),rgb(19, 173, 201));
}

.selected{
  border: 2px solid green;
}



@media(max-width:768px)
{
  .bar{
    display: block;
  }
  .introductory{
    flex-direction: column;
  }
  .client{
    width: 100%;
  }
  .all-cards{
    padding-bottom: 80%;
    grid-template-columns: auto;
    gap: 1%;
  }
  footer{
    flex-direction: column;
  }
  .about{
    flex-direction: column;
  }
  .type-box{
    flex-direction: column;
  }
  .box-2
  {
    width:100%;
    margin: 5% 0px;
  }
}


.fill {
  color: black;
  font-weight: 600;
  margin: 4px;
  padding: 15px 15px;
  border: none;
  width: fit-content;
  border-radius: 5px;
  --hover: #ff2d8c;
  background: #e18300;
  border-color: #e18300;
  line-height: 1;
  transition: 0.5s;
  cursor: pointer;
  &:focus { 
    border-color:var(--hover);
    color: #fff;
  }
}
.fill:hover, .fill:focus {
  border-color: var(--hover);
  border: ipx solid #000000;
  color: #000000;
}
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}